

@import 'global';
@import 'fonts';
@import 'mixin';
@import 'normalize';
@import 'vars';



.header {
  background-color: $default;
}


.header__container{
  @include flex;
  padding-top: 21px;
  padding-bottom: 20px;
}


.header-nav{

  &__list{
    @include clearListStyles;
    @include flex;


  }

  &__item:not(:last-child){
    margin-right:79px;
  }

  &__item{
    @include text;
    color: white;
  }

}
